<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <style>
        input {
            display: flex;
            flex-direction: column;
        }
        </style>
    </head>
    <body>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        REGISTER:
        <form action="/register" method="POST">
            {% csrf_token %}
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email Address: <input type="email" name="email">
            Password: <input type="password" name="password">
            Confirm Password: <input type="password" name="password-confirm">
            <input type="submit" value="Register">
        </form>
        LOG IN:
        <form action="/login" method="POST">
            {% csrf_token %}
            Username: <input type="email" name="email">
            Password: <input type="password" name="password">
            <input type="submit" value="Log In">
        </form>
    </body>
</html>