<HTML>
    <body>
        <form action="/elephants/<%=elephant.id%>" method="POST">
            Name: <input type="text" name="name" value="<%=elephant.name%>">
            Age: <input type="number" name="age" value="<%=elephant.age%>">
            Gender: <select name="gender">
                <% if (elephant.gender === "male") { %>
                    <option value="male" selected>Male</option>
                    <option value="female">Female</option>
                <% } else { %>
                    <option value="male">Male</option>
                    <option value="female" selected>Female</option>
                <% } %>
            </select>
            <input type="submit" value="Submit">
        </form>
        <form action="/elephants/destroy/<%=elephant.id%>" method="POST"><input type="submit" value="kill"></form>
        <a href="/">Return to Herd</a>
    </body>
</HTML>