<h1>Switchboard</h1>
<button class='off' [ngClass]="{'on': active0===true}" (click)="active0=!active0">
  <p *ngIf="!active0">Off</p>
  <p *ngIf="active0">On</p>
</button>
<button class='off' [ngClass]="{'on': active1===true}" (click)="active1=!active1">
  <p *ngIf="!active1">Off</p>
  <p *ngIf="active1">On</p>
</button>
<button class='off' [ngClass]="{'on': active2===true}" (click)="active2=!active2">
  <p *ngIf="!active2">Off</p>
  <p *ngIf="active2">On</p>
</button>
<button class='off' [ngClass]="{'on': active3===true}" (click)="active3=!active3">
  <p *ngIf="!active3">Off</p>
  <p *ngIf="active3">On</p>
</button>
<button class='off' [ngClass]="{'on': active4===true}" (click)="active4=!active4">
  <p *ngIf="!active4">Off</p>
  <p *ngIf="active4">On</p>
</button>
<button class='off' [ngClass]="{'on': active5===true}" (click)="active5=!active5">
  <p *ngIf="!active5">Off</p>
  <p *ngIf="active5">On</p>
</button>
<button class='off' [ngClass]="{'on': active6===true}" (click)="active6=!active6">
  <p *ngIf="!active6">Off</p>
  <p *ngIf="active6">On</p>
</button>
<button class='off' [ngClass]="{'on': active7===true}" (click)="active7=!active7">
  <p *ngIf="!active7">Off</p>
  <p *ngIf="active7">On</p>
</button>
<button class='off' [ngClass]="{'on': active8===true}" (click)="active8=!active8">
  <p *ngIf="!active8">Off</p>
  <p *ngIf="active8">On</p>
</button>
<button class='off' [ngClass]="{'on': active9===true}" (click)="active9=!active9">
  <p *ngIf="!active9">Off</p>
  <p *ngIf="active9">On</p>
</button>