<html>
    <body>
        <form action="/quotes" method="POST">
            Your Name: <input type="text" name="name">
            Your Quote: <input type="text" name="quote">
            <input type="submit" value="Submit">
        </form>
        <button><a href="/quotes">Skip To Quotes</a></button>
    </body>
</html>