<html>
    <body>
        <form action="/results" method="POST">
            Your Name: <input type='text' name='name'>
            Dojo Location: <select name="location">
                <option value="Washington, DC">Washington, DC</option>
                <option value="San Jose">San Jose</option>
                <option value="Mars">Mars</option>
            </select>
            Favorite Language: <select name="language">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="Javascript">Javascript</option>
            </select>
            Comment (Optional): <br>
            <textarea name="comment" rows="10" cols="30"></textarea>         
            <input type='submit' value='create user'>
        </form>
    </body>
</html>