<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <style>
        input {
            display: flex;
            flex-direction: column;
        }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        REGISTER:
        <form action="/register" method="POST">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email Address: <input type="email" name="address">
            Password: <input type="password" name="password">
            Confirm Password: <input type="password" name="password-confirm">
            <input type="submit" value="Register">
        </form>

        LOG IN:
        <form action="/login" method="POST">
            Username: <input type="email" name="address">
            Password: <input type="password" name="password">
            <input type="submit" value="Log In">
        </form>
    </body>
</html>