<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Wall</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    Message:
    <form action='/message' method="POST">
        <input type="text" name="message">
        <input type="submit" value="Post a message"> 
    </form>
    {% for message in messages %}
        <p>{{message['user_name']}} {{message['created_at']}}</p>
        <p>{{message['message']}}</p>
        {% for comment in comments %}
            {% if comment['message_id'] == message['message_id'] %}
                <p>{{comment['user_name']}} {{comment['created_at']}}</p>
                <p>{{comment['comment']}}</p>
            {% endif %}
        {% endfor %}
        <form action='/comment' method="POST">
            <input type="hidden" name="message_id" value="{{message.message_id}}">
            <input type="text" name="comment">
            <input type="submit" value="Submit">
        </form>
    {% endfor %} 
    <form action='/logout' method="GET">
        <input type="submit" value="Log Out">
    </form>
</body>
</html>