<html>
    <body>
        <form action="/register" method="POST">
            Email: <input type="email" name="email">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Birthday: <input type="date" name="birthday">
            Password: <input type="password" name="password">
            Password Confirmation: <input type="password" name="password_confirm">
            <input type="submit" value="Register">
        </form>

        <form action="/login" method="POST">
            Email: <input type="email" name="email">
            Password: <input type="password" name="password">
            <input type="submit" value="Log In">
        </form>
    </body>
</html>